body {
  background: rgb(15, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(15, 0, 0, 1) 7%,
    rgba(74, 0, 19, 1) 28%,
    rgba(13, 0, 91, 1) 100%
  );
  margin: 0;
}
p,
a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: unset;
}
h1,
h2,
h3,
h4 {
  color: white;
  font-family: Rubik Doodle Shadow;
}
header {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  backdrop-filter: blur(400px);
}
.logo_andP {
  display: flex;
  align-items: center;
  gap: 7px;
}
.logo_svg {
  width: 30px;
  height: 40px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo_p {
  color: white;
}
select {
  padding: 3px;
  font-weight: 600;
  width: 130px;
  height: 30px;
  border-radius: 5px;
}
label {
  color: white;
}
.links {
  display: flex;
  gap: 15px;
}
.nav {
  font-size: 17px;
}
.account {
  display: flex;
  gap: 40px;
  align-items: center;
}
.sign_in {
  width: 130px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  color: white;
}

/*CARDS_DIV*/
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: transparent;
}
.all {
  font-size: 30px;
  padding: 18px;
  margin-left: 50px;
  background-color: black;
  max-width: fit-content;
  border-radius: 20px;
  border: 2px white solid;
  margin-top: 15px;
}
.delete_button {
  width: 40px;
  height: 40px;
  color: black;
  background-color: transparent;
  border: 3px solid grey;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.delete_button:hover {
  background-color: red;
  transition: 0.9s;
}
.card_wrapper {
  width: 20%;
  display: flex;
  height: 400px;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  border: 3px black solid;
  background-color: white;
  border-radius: 20px;
}
.img_card {
  width: 230px;
  margin: auto;
}
.carts {
  display: flex;
  gap: 10px;
  width: 1200px;
  height: 100%;
  flex-wrap: wrap;
  min-height: 300px;
}
.coast_p,
.priceP,
.name_card {
  color: black;
}
.name_card {
  font-size: 21px;
  margin-bottom: 10px;
}
.coast_p,
.priceP {
  font-size: 18px;
}

.div_bottom_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cont_2 {
  backdrop-filter: blur(800px);
  border-radius: 45px;
  -webkit-box-shadow: -13px 22px 37px 5px rgba(7, 5, 7, 0.78);
  -moz-box-shadow: -13px 22px 37px 5px rgba(7, 5, 7, 0.78);
  box-shadow: -13px 22px 37px 5px rgba(7, 5, 7, 0.78);
}
.basket_empty{
  font-size: 27px;
  position: absolute;
  top: 45%;
  left: 36%;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
}
.div{
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  transition: all 0.4s ;
}
.button_cr{
  width: 70px;
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px white solid;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-left: 5px;
  
}
.end{
  margin-left: 40px;
  transition: all 0.7s;
}
